{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Player Name</th>
        <th scope="col">Team</th>
        <th scope="col">Position</th>
        <th scope="col">Height</th>
        <th scope="col">Weight</th>
        <th scope="col">Age</th>

    </tr>
    </thead>
    <tbody>
    {% for player in players %}
    <tr>
        <td><a href="view/{{player.id}}">{{ player.fldName }}</a></td>
        <td>{{ player.fldTeam }}</td>
        <td>{{ player.fldPosition }}</td>
        <td>{{ player.fldHeight}}</td>
        <td>{{ player.fldWeight }}</td>
        <td>{{ player.fldAge }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}